<td class="td-left"><a href="#" rel="popover" class="equipeeditable" data-pk="<%= id %>" data-type="text" data-name="nom_equipe" ><%= (nom_equipe && nom_equipe !== '') ? nom_equipe : "?" %></a></td>
<td class="td-left"><a href="#" rel="popover" class="equipeeditable" data-pk="<%= id %>" data-type="text" data-name="img_bandeira" ><%= (img_bandeira && img_bandeira !== '') ? img_bandeira : "?" %></a></td>
<td class="td-left td-right addcell"><button class="btn btn-warning btn-mini btn-apagar" href="" data-pk="<%= id %>">Apagar</button></td>
